@use "global" as *;

.c-card {
  text-align: left;
  border-bottom: 1px solid $blue2;
  @include mq(md) {
    border-bottom: none;
    height: 100%; // liタグ全体の高さを親に合わせる
    display: flex;
    align-items: center;
  }
}

.c-card:last-child {
  position: relative;
  border: none;
  @include mq(md) {
  }
}

.c-card:last-child .c-card__link::after {
  content: "";
  border-top: 2px solid $blue;
  border-left: 2px solid $blue;
  display: inline-block;
  width: 13px;
  height: 13px;
  transform: rotate(45deg);
  position: absolute;
  right: 17.5px;
  top: 21px;
  transition: 0.3s;
  @include mq(md) {
    display: none;
  }
}

.c-card:last-child .c-card__link.active::after {
  transform: rotate(225deg);
  top: 20px;
  @include mq(md) {
  }
}

.c-card__link {
  font-size: myrem(18);
  padding-top: myrem(11);
  padding-bottom: myrem(12);
  margin-left: myrem(10);
  display: block;
  letter-spacing: calc(40 / 1000) * myrem(18);
  font-weight: normal;
  @include mq(md) {
    text-align: center;
    padding-top: myrem(28);
    padding-bottom: myrem(27);
    padding-right: myrem(27);
    padding-left: myrem(26);
    margin-left: 0;
    display: inline-block;
    text-wrap: nowrap;
    position: relative;
    font-size: myrem(16);
    letter-spacing: 0.1em;
    line-height: 11.2px;
    font-weight: normal;
  }
}

.c-card:nth-of-type(3) .c-card__link {
  padding-bottom: myrem(14);
  margin-top: myrem(-2);
  @include mq(md) {
    margin-top: 0;
    padding-bottom: myrem(28);
  }
}
.c-card__link:hover {
  @include mq(md) {
    color: $blue;
    opacity: 1;
  }
}

.c-card:not(:last-child) .c-card__link::after {
  @include mq(md) {
    content: "";
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: myrem(1);
    height: myrem(16);
    width: myrem(1);
    background-color: black;
  }
}

.c-card__linkLast {
  border-bottom: 1px solid $blue2;
  padding-left: myrem(10);
  margin-left: 0;
  @include mq(md) {
    border: none;
    padding-left: myrem(26);
    padding-right: myrem(30);
  }
}
.c-card__linkFirst {
  padding-bottom: myrem(11);
  @include mq(md) {
    padding-left: 0;
    padding-bottom: myrem(27);
  }
}
