@use "global" as *;

.c-card04 {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: myrem(58);
  }
}

.c-card04__text-wrapper {
  @include mq(md) {
    width: 52.2%;
    margin-top: myrem(13);
    margin-right: myrem(41);
  }
}

.c-card04__subtitle {
  margin-top: myrem(28);
  background-color: $blue;
  color: $white;
  font-family: $font-en;
  font-size: myrem(13);
  width: myrem(103);
  padding-right: myrem(9);
  padding-top: myrem(3);
  padding-left: myrem(10);
  text-align: center;
  letter-spacing: calc(100 / 1000) * myrem(15);
  font-weight: 400;
  @include mq(md) {
    margin-top: 0;
    padding: 0;
    padding: myrem(2) 0;
    width: myrem(105);
    font-size: myrem(15);
    letter-spacing: calc(40 / 1000) * myrem(15);
    @include l_height(16, 19);
    padding-left: myrem(2);
  }
}

.c-card04__subtitle::after {
  content: "01";
  font-family: $font-main;
  position: relative;
  left: myrem(1);
  @include mq(md) {
    position: relative;
  }
}

.c-card04__maintitle {
  padding-bottom: myrem(13.3);
  font-size: myrem(19);
  font-weight: 400;
  letter-spacing: calc(40 / 1000) * myrem(19);
  margin-bottom: myrem(21);
  margin-top: myrem(4);
  border-bottom: 1px solid $blue;
  @include mq(md) {
    padding-bottom: myrem(3);
    margin-top: myrem(4);
    font-size: myrem(24);
    margin-right: myrem(0);
    letter-spacing: calc(100 / 1000) * myrem(24);
    margin-bottom: myrem(22);
  }
}

.c-card04__maintitle span {
  font-size: myrem(33);
  font-weight: 400;
  color: $blue;
  @include mq(md) {
    font-size: myrem(38);
    margin-right: myrem(1);
  }
}

.c-card04__img {
  margin-top: myrem(45);
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 48vw;
  @include mq(md) {
    margin-top: myrem(-17);
    width: myrem(437);
    height: myrem(260);
    border-radius: 20px;
  }
}

.c-card04__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  @include mq(md) {
    border-radius: 20px;
  }
}

.c-card04__main-text {
  font-size: myrem(14);
  letter-spacing: calc(30 / 1000) * myrem(14);
  margin-left: myrem(1);
  width: 91%;
  @include l_height(14, 24);
  @include mq(md) {
    width: 100%;
    margin: 0;
  }
}

.c-card04:nth-of-type(2) {
  @include mq(md) {
    margin-top: myrem(55);
    flex-direction: row;
  }
}

.c-card04:nth-of-type(2) .c-card04__text-wrapper {
  @include mq(md) {
    width: 52.2%;
    margin-top: myrem(13);
    margin-left: myrem(41);
    margin-right: 0;
  }
}

.c-card04:nth-of-type(2) .c-card04__img {
  margin-top: myrem(28);
  @include mq(md) {
    margin-top: myrem(-16);
  }
}

.c-card04:nth-last-of-type(2) .c-card04__subtitle {
  padding-right: myrem(9);
  padding-top: myrem(2);
  padding-left: myrem(10);
  padding-bottom: myrem(1);
  @include mq(md) {
    letter-spacing: myrem(1);
    @include l_height(16, 19);
  }
}

.c-card04:nth-last-of-type(2) .c-card04__subtitle::after {
  content: "02";
  font-family: $font-main;
  position: relative;
  font-size: myrem(13);
  left: myrem(1);
  top: myrem(-0.5);
  @include mq(md) {
    position: static;
    font-size: myrem(16);
  }
}

.c-card04:nth-last-of-type(2) .c-card04__maintitle {
  padding-bottom: myrem(12);
  margin-top: myrem(3);
  margin-bottom: myrem(22);
  @include mq(md) {
    padding-bottom: myrem(3);
    margin-left: myrem(1);
  }
}

.c-card04:nth-last-of-type(2) .c-card04__maintitle span {
  font-size: myrem(33);
  font-weight: 400;
  color: $blue;
  @include mq(md) {
    font-size: myrem(38);
    margin-right: myrem(0);
  }
}

.c-card04:nth-of-type(3) {
  @include mq(md) {
    margin-top: myrem(41);
  }
}

.c-card04:nth-of-type(3) .c-card04__img {
  margin-top: myrem(28);
  @include mq(md) {
    margin-top: myrem(-2);
  }
}

.c-card04:nth-of-type(3) .c-card04__subtitle {
  margin-top: myrem(28);
  background-color: $blue;
  color: $white;
  font-family: $font-en;
  font-size: myrem(13);
  width: myrem(103);
  padding-right: myrem(9);
  padding-top: myrem(3);
  padding-left: myrem(10);
  text-align: center;
  letter-spacing: calc(100 / 1000) * myrem(15);
  font-weight: 400;
  @include mq(md) {
    margin-top: 0;
    padding: 0;
    padding: myrem(2) 0;
    width: myrem(105);
    font-size: myrem(15);
    letter-spacing: calc(40 / 1000) * myrem(15);
    @include l_height(16, 19);
    padding-left: myrem(2);
  }
}

.c-card04:nth-of-type(3) .c-card04__subtitle:after {
  content: "03";
  font-family: $font-en;
  position: relative;
  left: myrem(1);
  @include mq(md) {
    position: relative;
  }
}

.c-card04:nth-of-type(3) .c-card04__maintitle {
  padding-bottom: myrem(12);
  font-size: myrem(19);
  font-weight: 400;
  letter-spacing: calc(40 / 1000) * myrem(19);
  margin-top: myrem(3);
  margin-bottom: myrem(22);
  border-bottom: 1px solid $blue;
  @include mq(md) {
    padding-bottom: myrem(3);
    margin-top: myrem(4);
    font-size: myrem(24);
    margin-right: myrem(0);
    letter-spacing: calc(100 / 1000) * myrem(24);
    margin-bottom: myrem(22);
  }
}

.c-card04:nth-of-type(3) .c-card04__maintitle span {
  font-size: myrem(33);
  font-weight: 400;
  color: $blue;
  @include mq(md) {
    font-size: myrem(38);
    margin-right: myrem(1);
  }
}
