@use "global" as *;

.c-fixed-btn2 {
  width: 50%;
  background-color: $blue;
  font-size: myrem(17);
  letter-spacing: calc(100 / 1000) * myrem(17);
  color: $white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: $font-main;
  font-weight: 500;
  @include mq(md) {
  }
}

.c-fixed-btn2-icon {
  margin-right: myrem(15);
  width: myrem(22.85);
  height: myrem(24);
  @include mq(md) {
  }
}
