@use "global" as *;

.c-fixed-btn1 {
  width: 50%;
  font-size: myrem(19);
  background-color: $white;
  letter-spacing: calc(27 / 1000) * myrem(19);
  align-items: center;
  display: flex;
  justify-content: center;
  color: $black;
  font-weight: bold;
  padding: myrem(15) 0;
  padding-right: myrem(13);
  @include mq(md) {
  }
}

.c-fixed-btn1-icon {
  margin-left: myrem(21);
  margin-right: myrem(7);
  width: myrem(11.48);
  height: myrem(15.74);
  @include mq(md) {
  }
}
