@use "global" as *;

.c-form-correct-checkbox {
  font-size: myrem(12);
  letter-spacing: calc(40 / 1000) * myrem(12);
  position: relative;
  top: myrem(0);
  left: myrem(7);
  @include l_height(12, 17);
  @include mq(md) {
    top: 0;
    left: initial;
    font-size: myrem(14);
    @include l_height(14, 20);
    letter-spacing: calc(100 / 1000) * myrem(14);
    margin-left: myrem(17);
    bottom: myrem(13);
  }
}

.c-form-correct-checkbox::before {
  content: "";
  width: 119px;
  height: 1px;
  display: inline-block;
  background-color: $black;
  position: absolute;
  bottom: -5px;
  @include mq(md) {
    left: myrem(3);
  }
}
