@use "global" as *;

.c-kana-name-text {
  font-size: myrem(12);
  margin: myrem(15) 0;
  letter-spacing: calc(100 / 1000) * myrem(12);
  @include l_height(12, 17);
  @include mq(md) {
    font-size: myrem(14);
    @include l_height(14, 20);
    letter-spacing: calc(100 / 1000) * myrem(14);
    margin-top: myrem(19);
    margin-bottom: myrem(0);
  }
}
