@use "global" as *;

.c-panlist {
  padding-top: myrem(14);
  margin-left: myrem(4);
  @include mq(md) {
    padding-top: 0;
    margin-left: 0;
  }
}

.c-panlist a {
  font-size: myrem(12);
  letter-spacing: calc(30 / 1000) * myrem(12);
  @include mq(md) {
    font-size: myrem(16);
  }
}
.c-panlist p {
  font-size: myrem(12);
  letter-spacing: calc(30 / 1000) * myrem(12);
  display: inline-block;
  @include mq(md) {
    font-size: myrem(16);
  }
}

.c-panlist p {
  margin-left: myrem(25);
  position: relative;
  @include mq(md) {
    margin-left: myrem(32);
    position: relative;
  }
}

.c-panlist p::before {
  content: "";
  position: absolute;
  left: myrem(-22);
  top: myrem(5);
  width: myrem(9.25);
  height: myrem(9.25);
  border: 0;
  border-top: solid 1px $black;
  border-right: solid 1px $black;
  transform: rotate(45deg);
  @include mq(md) {
    content: "";
    position: absolute;
    left: myrem(-25);
    top: myrem(9);
    width: myrem(9.25);
    height: myrem(9.25);
    border: 0;
    border-top: solid 1px $black;
    border-right: solid 1px $black;
    transform: rotate(45deg);
  }
}
