@use "global" as *;

.c-slider-img {
  width: myrem(244);
  height: myrem(239);
  margin-left: myrem(5);
  margin-right: myrem(8);

  @include mq(md) {
    width: myrem(356);
    height: myrem(346);
    transition: all 0.3s ease;
  }
}

.c-slider-img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-center {
  @include mq(md) {
    width: myrem(435) !important; // 中央だけ強制的に大きく
    height: myrem(423) !important;
    z-index: 2;
  }
}

.slick-center img {
  @include mq(md) {
    width: 100%;
    height: 100%;
    transition: all 0.1s;
    object-fit: cover;
  }
}

.slick-track {
  @include mq(md) {
    display: flex !important;
    align-items: center;
  }
}

.slick-slide {
  @include mq(md) {
    margin: 0 myrem(10);
  }
}

.slick-list {
  @include mq(md) {
    margin: 0 -10px;
  }
}
