@use "global" as *;

.p-AboutUs {
  @include mq(md) {
  }
}

.p-AboutUs__wrapper {
  margin: 0 auto;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  background-color: $white;
  border-radius: 20px 20px 0 0;
  @include mq(md) {
    margin-top: myrem(70);
    padding-top: myrem(30);
    z-index: 1;
    position: relative;
    border-radius: 20px 20px 0 0;
    margin-left: myrem(100);
    margin-right: myrem(100);
  }
}

.p-AboutUs__container {
  @include mq(md) {
    display: flex;
  }
}

.p-AboutUs__title {
  text-align: center;
  margin-top: myrem(30);
  margin-left: myrem(2);
  @include mq(md) {
    margin-top: myrem(40);
    margin-left: 0;
  }
}

.p-AboutUs__title p {
  margin-left: myrem(2);
  margin-top: 0;
  @include mq(md) {
  }
}

.p-AboutUs-info-container__list {
  border-top: 1.5px solid $blue;
  @include mq(md) {
    border-top: 2px solid $blue;
  }
}

.p-AboutUs-info-container__list li {
  border-bottom: 1px solid $blue;
  font-size: myrem(14);
  padding: myrem(14) 0;
  letter-spacing: calc(80 / 1000) * myrem(14);
  @include mq(md) {
    letter-spacing: calc(80 / 1000) * myrem(14);
    font-size: myrem(14);
    padding: myrem(19) 0;
  }
}

.p-AboutUs-info-container__list li:nth-of-type(4) span::after {
  content: "\A";
  white-space: pre;
  @include mq(md) {
    content: "";
  }
}

.p-AboutUs-info-container__list li:nth-child(1) {
  @include mq(md) {
    padding-top: myrem(19);
    padding-bottom: myrem(19);
  }
}

.p-AboutUs-info-container__list li:nth-child(2) {
  @include mq(md) {
    padding-top: myrem(19);
    padding-bottom: myrem(19);
  }
}
.p-AboutUs-info-container__list li:nth-child(3) {
  @include mq(md) {
    padding-top: myrem(19);
    padding-bottom: myrem(19);
  }
}
.p-AboutUs-info-container__list li:nth-child(4) {
  line-height: myrem(23.9);
  padding-bottom: myrem(12);
  @include mq(md) {
    line-height: initial;
    padding-top: myrem(19);
    padding-bottom: myrem(19);
  }
}

.p-AboutUs-info-container2__item {
  @include mq(md) {
    display: flex;
    border-top: 2px solid $blue;
  }
}

.p-AboutUs-info-container2__item:nth-of-type(1) {
  border-top: 2px solid $blue;
  @include mq(md) {
  }
}
.p-AboutUs-info-container2__item:nth-of-type(2) {
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  padding-top: myrem(6);
  padding-bottom: myrem(14);
  @include mq(md) {
    display: flex;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.p-AboutUs-info-container2__item p {
  font-size: myrem(14);
  letter-spacing: calc(80 / 1000) * myrem(14);
  margin-top: myrem(13);
  @include mq(md) {
    margin-top: myrem(18);
    font-size: myrem(14);
    letter-spacing: calc(80 / 1000) * myrem(14);
  }
}

.p-AboutUs-info-container__list2 {
  list-style: disc;
  font-size: myrem(14);
  letter-spacing: calc(80 / 1000) * myrem(14);
  font-weight: 400;
  margin-left: myrem(15);
  margin-top: myrem(7);
  padding-bottom: myrem(14);
  @include mq(md) {
    padding-bottom: 0;
    margin-left: myrem(64);
    font-size: myrem(14);
    letter-spacing: calc(80 / 1000) * myrem(14);
    margin-top: myrem(17.5);
    list-style: disc;
    margin-bottom: myrem(20);
  }
}

.p-AboutUs-info-container__list2 li::marker {
  font-size: 50%;
  @include mq(md) {
    font-size: 58%;
  }
}

.p-AboutUs-info-container__list2 li:nth-of-type(2) {
  margin-top: myrem(5);
  @include mq(md) {
    margin-top: myrem(4);
  }
}

.p-AboutUs-info-container__list2 li:nth-of-type(3) {
  margin-top: myrem(2);
  @include mq(md) {
    margin-top: myrem(3);
  }
}
.p-AboutUs-info-container__list2 li:nth-of-type(4) {
  margin-top: myrem(4);
  @include mq(md) {
    margin-top: myrem(3);
  }
}

.p-AboutUs-info-container__list2 a {
  border-bottom: 1px solid $black;
  @include mq(md) {
  }
}

.p-AboutUs-info-container__list3 {
  margin-top: myrem(9);
  font-size: myrem(14);
  letter-spacing: calc(80 / 1000) * myrem(14);
  list-style: disc;
  margin-left: myrem(15);
  @include mq(md) {
    margin-left: myrem(34.5);
    font-size: myrem(14);
    letter-spacing: calc(80 / 1000) * myrem(14);
    margin-top: myrem(18.8);
    list-style: disc;
    margin-bottom: myrem(20);
  }
}

.p-AboutUs-info-container__list3 li::marker {
  font-size: 50%;
  @include mq(md) {
    font-size: 58%;
  }
}

.p-AboutUs-info-container__list3 li:nth-of-type(2) {
  margin-top: myrem(4);
  @include mq(md) {
    margin-top: myrem(4);
  }
}

.p-AboutUs-info-container__list3 li:nth-of-type(3) {
  margin-top: myrem(3);
  @include mq(md) {
    margin-top: myrem(3);
  }
}
.p-AboutUs-info-container__list3 li:nth-of-type(4) {
  margin-top: myrem(4);
  @include mq(md) {
    margin-top: myrem(3);
  }
}

.p-AboutUs__text-box {
  margin-top: myrem(15);
  @include mq(md) {
    width: 50%;
    margin-left: myrem(30);
    margin-top: myrem(90);
  }
}

.p-AboutUs__text-box p:nth-child(1) {
  font-size: myrem(14);
  @include l_height(14, 30);
  @include mq(md) {
  }
}

.p-AboutUs__text-box p:nth-child(2) {
  text-align: right;
  font-size: myrem(22);
  margin-top: myrem(15);
  margin-right: myrem(7);
  @include mq(md) {
    margin-top: myrem(18);
    margin-right: myrem(6);
  }
}

.p-AboutUs__text-box p:nth-child(2) span {
  font-size: myrem(14);
  margin-right: myrem(16);
  @include mq(md) {
    margin-right: myrem(17);
  }
}

.p-AboutUs__info-wrapper {
  @include mq(md) {
    display: flex;
    margin-top: myrem(10);
  }
}

.p-AboutUs__info-container2 {
  margin-top: myrem(30);
  @include mq(md) {
    width: 48.5%;
    margin-left: myrem(30);
  }
}

.p-AboutUs__info-container2 h4 {
  font-size: myrem(18);
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  color: $white;
  background-color: $blue;
  padding-left: myrem(16);
  padding-top: myrem(6);
  padding-bottom: myrem(6);
  padding-right: myrem(13);
  width: fit-content;
  letter-spacing: calc(100 / 1000) * myrem(18);
  @include mq(md) {
    font-size: myrem(22);
    letter-spacing: calc(100 / 1000) * myrem(22);
    padding-right: myrem(14);
    padding-left: myrem(16);
    padding-bottom: myrem(7);
    padding-top: myrem(9);
    margin-bottom: 0;
  }
}

.p-AboutUs__info-container {
  margin-top: myrem(36);
  @include mq(md) {
    width: 48.5%;
    margin-top: myrem(30);
  }
}

.p-AboutUs__info-container h4 {
  font-size: myrem(18);
  font-weight: 400;
  border-radius: 8px 8px 0 0;
  color: $white;
  letter-spacing: calc(100 / 1000) * myrem(18);
  background-color: $blue;
  padding: myrem(8) myrem(36) myrem(6);
  padding-bottom: myrem(4);
  padding-right: myrem(34);
  width: fit-content;
  @include mq(md) {
    font-size: myrem(22);
    letter-spacing: calc(100 / 1000) * myrem(22);
    padding-right: myrem(34);
    padding-bottom: myrem(8);
  }
}

.p-AboutUs__img {
  margin: 0 auto;
  margin-top: myrem(25);
  display: flex;
  justify-content: center;
  object-fit: cover;
  @include mq(md) {
    margin: initial;
    display: initial;
    width: 50%;
    margin-top: myrem(40);
    height: myrem(290);
    border-radius: 20px;
  }
}

.p-AboutUs__img img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  @include mq(md) {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
