@use "global" as *;

.p-About {
  @include mq(md) {
  }
}

.p-About__wrapper {
  @include mq(md) {
    display: flex;
  }
}

.p-About__text {
  font-size: myrem(14);
  @include l_height(14, 30);
  margin-top: myrem(26);
  letter-spacing: calc(30 / 1000) * myrem(14);
  @include mq(md) {
    margin-top: myrem(35);
    letter-spacing: calc(30 / 1000) * myrem(14);
  }
}

.p-About__img-box {
  width: 100%;
  position: relative;
  padding-top: 86%;
  overflow: hidden;
  @include mq(md) {
    position: initial;
    width: 50%;
    height: 100%;
    margin-bottom: myrem(30);
    padding-top: 0;
    overflow: visible;
  }
}

.p-About__img1 {
  width: calc(myrem(208) / myrem(345)) * 100%;
  height: calc(myrem(245) / myrem(298)) * 100%;
  object-fit: cover;
  position: absolute;
  top: myrem(-2);
  left: 0;
  z-index: 2;
  border-radius: 15px;
  box-shadow: myrem(1) myrem(-1) myrem(9) 0px #c4c4c4;
  @include mq(md) {
    position: relative;
    width: myrem(353);
    height: myrem(414);
    top: myrem(-70);
    left: 0;
    border-radius: 30px;
    box-shadow: myrem(1) myrem(-1) myrem(9) 0px #c4c4c4;
  }
}

.p-About__img1 img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  aspect-ratio: 208 / 245;
  @include mq(md) {
    aspect-ratio: 353 / 414;
  }
}

.p-About__img2 {
  position: absolute;
  width: calc(myrem(202) / myrem(345)) * 100%;
  height: calc(myrem(145) / myrem(298)) * 100%;
  bottom: myrem(2);
  right: 0;
  z-index: -1;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px #c4c4c4;
  @include mq(md) {
    position: relative;
    top: myrem(-109);
    left: myrem(117);
    right: unset;
    width: myrem(344);
    height: myrem(246);
    border-radius: 30px;
    z-index: 0;
    box-shadow: 0px 0px 8px 0px #c4c4c4;
  }
}

.p-About__img2 img {
  object-fit: cover;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  aspect-ratio: 202 / 145;
  @include mq(md) {
    aspect-ratio: 344 / 246;
    border-radius: inherit;
  }
}

.p-About__explain {
  margin-top: myrem(28);
  @include mq(md) {
    width: 50%;
    margin-top: myrem(25);
    position: relative;
    margin-left: myrem(2);
  }
}

.p-About__btn {
  margin-top: myrem(34);
  @include mq(md) {
    position: absolute;
    right: 0;
    margin-top: myrem(55);
  }
}
