@use "global" as *;

.p-facility__container {
  margin-top: myrem(40);
  @include mq(md) {
  }
}

.p-facility__inner {
  @include mq(md) {
    position: relative;
    margin-inline: auto;
    display: grid;
  }
}

.p-facility__box {
  @include mq(md) {
    margin-right: myrem(300);
    margin-left: calc(50% - 50vw);
    margin-top: myrem(-1000);
    z-index: -1;
  }
}

.p-facility__box::after {
  content: "";
  display: block;
  background-image: url(../../images/AboutUs背景.webp);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  z-index: -1;
  @include mq(md) {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    padding-block: myrem(565);
  }
}

.p-facility__list {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: myrem(30);
  }
}

.p-facility__title {
  text-align: center;
  @include mq(md) {
    margin-top: myrem(30);
  }
}

.p-facility__sub-title {
  letter-spacing: calc(40 / 1000) * myrem(14);
  @include mq(md) {
    letter-spacing: calc(100 / 1000) * myrem(18);
  }
}
