@use "global" as *;

.p-form__container {
  margin-top: myrem(76);
  @include mq(md) {
    width: myrem(896);
    margin: 0 auto;
  }
}

.p-form__wrapper {
  background-color: $white;
  border-radius: 20px 20px 0 0;
  padding-top: myrem(25);
  margin-left: myrem(15);
  margin-right: myrem(15);
  @include mq(md) {
    margin: 0 auto;
    margin-top: myrem(0);
    padding-top: myrem(20);
    z-index: 1;
    position: relative;
    background-color: $white;
    width: myrem(1000);
    border-radius: 20px 20px 0 0;
  }
}

.p-form__title {
  margin-bottom: myrem(50);
  margin-top: myrem(7);
  text-align: center;
  @include mq(md) {
    margin-top: myrem(35);
    margin-bottom: myrem(39);
    margin-left: myrem(2);
    text-align: center;
  }
}

.p-form__maintitle {
  letter-spacing: calc(40 / 1000) * myrem(28);
  @include mq(md) {
    letter-spacing: calc(100 / 1000) * myrem(32);
  }
}

.p-form__subtitle {
  letter-spacing: calc(40 / 1000) * myrem(14);
  @include mq(md) {
    letter-spacing: calc(100 / 1000) * myrem(18);
  }
}

.p-form__btn {
  margin-top: myrem(32);
  text-align: center;
  @include mq(md) {
    margin: 0 auto;
    margin-top: myrem(32);
  }
}

.p-form__item-title {
  display: block;
  margin-bottom: myrem(19);
  position: relative;
  left: myrem(57);
  letter-spacing: calc(100 / 1000) * myrem(16);
  @include mq(md) {
    margin-bottom: myrem(21);
    font-size: myrem(16);
    letter-spacing: calc(100 / 1000) * myrem(16);
    position: relative;
    left: myrem(57);
    margin-top: myrem(41);
  }
}

.p-form__item:nth-of-type(2) .p-form__item-title {
  margin-top: myrem(3);
  @include mq(md) {
    margin-top: myrem(33);
  }
}

.p-form__item:nth-of-type(3) .p-form__item-title {
  margin-top: myrem(41);
  @include mq(md) {
    margin-top: myrem(49);
    margin-left: myrem(1);
  }
}

.p-form__item:nth-of-type(4) .p-form__item-title {
  margin-top: myrem(41);
  @include mq(md) {
    margin-top: myrem(50);
    margin-left: myrem(2);
  }
}

.p-form__item:nth-of-type(5) .p-form__item-title {
  margin-top: myrem(37);
  margin-left: myrem(1);
  margin-bottom: myrem(22);
  @include mq(md) {
    margin-top: myrem(36);
    margin-left: myrem(1);
  }
}

.p-form__item:nth-of-type(6) .p-form__item-title {
  margin-top: myrem(43);
  margin-left: myrem(1);
  @include mq(md) {
    margin-top: myrem(42);
    margin-left: myrem(1);
  }
}

.p-form__item:nth-of-type(7) .p-form__item-title {
  margin-top: myrem(36);
  @include mq(md) {
    margin-top: myrem(37);
    margin-left: myrem(0);
  }
}

.p-form__item:nth-of-type(8) .p-form__item-title {
  margin-top: myrem(43);
  margin-bottom: 0;
  @include mq(md) {
    margin-top: myrem(42);
    margin-left: myrem(2);
  }
}

.p-form__item-title::before {
  content: "必須";
  background-color: $pink;
  color: $white;
  font-size: myrem(12);
  padding: myrem(5) myrem(10);
  padding-right: myrem(8);
  position: absolute;
  left: myrem(-57);
  top: myrem(-2);
  @include mq(md) {
    content: "必須";
    background-color: $pink;
    color: $white;
    font-size: myrem(12);
    padding: myrem(5) myrem(10);
    padding-right: myrem(8);
    padding-top: myrem(5);
    position: absolute;
    left: myrem(-57);
    top: myrem(-2);
  }
}

.p-form__item:nth-of-type(8) .p-form__item-title::before {
  content: "任意";
  background-color: #8b8b8b;
  left: myrem(-55);
  @include mq(md) {
    background-color: #8b8b8b;
    left: myrem(-57);
  }
}

.p-form__item:nth-of-type(1) .p-form__item-title::after {
  content: "例）example@example.com";
  color: #cad5d5;
  position: absolute;
  top: myrem(-42);
  left: myrem(-33);
  font-size: myrem(14);
  letter-spacing: calc(100 / 1000) * myrem(14);
  @include mq(md) {
    display: none;
  }
}

.p-form__select-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: myrem(11);
  margin-top: myrem(22.5);
  @include mq(md) {
    justify-content: start;
    column-gap: myrem(24);
    margin-top: myrem(22);
    row-gap: myrem(19);
  }
}

.p-form__correct-checkbox {
  margin-top: myrem(2);
  margin-bottom: myrem(45);
  @include mq(md) {
    text-align: center;
    margin-top: myrem(34);
    margin-bottom: myrem(45);
  }
}

input[type="checkbox"] {
  position: relative;
  width: 17px;
  height: 17px;
  margin: 0;
  top: myrem(1);
  left: 0px;
  border: 1px solid #000;
  vertical-align: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  @include mq(md) {
    position: relative;
    margin: 0;
    left: 1px;
  }
}

input[type="checkbox"]:checked:before {
  position: absolute;
  top: -12px;
  left: -3px;
  transform: rotate(50deg);
  height: 8px;
  width: 42px;
  border-bottom: 4px solid #40a9e0;
  border-left: 2px solid #40a9e0;
  transform: rotate(-45deg) perspective(30px) rotateY(60deg);
  content: "";
  @include mq(md) {
  }
}

.p-form__items {
  display: block;
  width: 100%;
  background-color: #edf5f5;
  border-radius: 10px;
  border: none;
  font-size: myrem(14);
  padding: myrem(10) myrem(14);
  opacity: 60%;
  cursor: pointer;
  @include mq(md) {
    padding: myrem(20) myrem(14);
    font-size: myrem(16);
    letter-spacing: calc(100 / 1000) * myrem(16);
    padding-left: myrem(24);
    border-radius: 20px;
  }
}

.p-form__items:focus {
  transform: 0.3s;
  @include mq(md) {
  }
}

.p-form__items::placeholder {
  color: #cad5d5;
  @include mq(md) {
    color: #cad5d5;
  }
}

.p-form__items--email::placeholder {
  color: transparent;
  @include mq(md) {
    color: #cad5d5;
  }
}

.p-form__items--name {
  margin-top: myrem(22);
  @include mq(md) {
    margin-top: 0;
  }
}

.p-form__items--name--kana {
  margin-top: myrem(22);
  @include mq(md) {
    margin-top: 0;
  }
}
.p-form__items--name::placeholder {
  position: relative;
  left: 10px;
  letter-spacing: calc(100 / 1000) * myrem(14);
  @include mq(md) {
    position: static;
  }
}

.p-form__items--name--kana::placeholder {
  color: transparent;
  @include mq(md) {
    color: #cad5d5;
  }
}

.p-form__items--birthday {
  padding-top: myrem(9.5);
  padding-bottom: myrem(9);
  @include mq(md) {
    padding-top: myrem(20);
    padding-bottom: myrem(18);
  }
}
.p-form__items--birthday::placeholder {
  position: relative;
  font-size: myrem(16);
  left: 10px;
  letter-spacing: calc(100 / 1000) * myrem(16);
  @include mq(md) {
    position: static;
  }
}

input[type="text"]:focus {
  outline: 2px solid #7bd1d5;
  transition: 0.2s;
}

input[type="email"]:focus {
  outline: 2px solid #7bd1d5;
  transition: 0.2s;
}

textarea:focus {
  border: 2px solid #7bd1d5;
  outline: 0;
  transition: 0.2s;
}

input[type="radio"] {
  position: relative;
  left: myrem(-7);
  top: myrem(1);
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  vertical-align: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  @include mq(md) {
    inline-size: 35px;
    block-size: 36px;
    margin: 0;
    position: relative;
    left: 0;
  }
}

input[type="radio"]:checked {
  border: 1px solid #a4dde0;
  transition: 0.3s;
  @include mq(md) {
  }
}
input[type="radio"]:checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: myrem(21);
  height: myrem(21);
  border-radius: 50%;
  background: #a4dde0;
  content: "";
  transition: 0.3s;
  @include mq(md) {
    margin: 0;
  }
}

input[type="radio"]:nth-of-type(2) {
  inline-size: 35px;
  block-size: 36px;
  margin: 0;
  margin-left: myrem(40);
  transition: 0.3s;
  @include mq(md) {
    inline-size: 35px;
    block-size: 36px;
    margin: 0;
    margin-left: myrem(42.7);
  }
}

input[type="radio"]:nth-of-type(3) {
  inline-size: 35px;
  block-size: 36px;
  margin: 0;
  margin-left: myrem(42.7);
  transition: 0.3s;
  @include mq(md) {
    inline-size: 35px;
    block-size: 36px;
    margin: 0;
    margin-left: myrem(42.7);
  }
}

input[value="visit"] {
  @include mq(md) {
    inline-size: 35px;
    block-size: 36px;
    margin: 0;
  }
}

input[value="visit"]:nth-of-type(1) {
  left: myrem(-5);
  top: 0;
  @include mq(md) {
    left: 0;
    top: myrem(2);
  }
}
input[value="visit"]:nth-of-type(2) {
  left: myrem(-21);
  @include mq(md) {
    left: myrem(-15);
    top: myrem(1);
  }
}

label[for="male"] {
  letter-spacing: calc(100 / 1000) * myrem(14);
  font-size: myrem(14);
  position: relative;
  top: myrem(-11);
  @include mq(md) {
    font-size: myrem(14);
    position: relative;
    top: myrem(-11);
    left: myrem(12);
    letter-spacing: calc(100 / 1000) * myrem(14);
  }
}

label[for="female"] {
  font-size: myrem(14);
  position: relative;
  top: myrem(-11);
  left: myrem(3);
  letter-spacing: calc(100 / 1000) * myrem(14);
  @include mq(md) {
    font-size: myrem(14);
    position: relative;
    top: myrem(-11);
    left: myrem(12);
    letter-spacing: calc(100 / 1000) * myrem(14);
  }
}

label[for="other"] {
  font-size: myrem(14);
  position: relative;
  top: myrem(-11);
  left: myrem(5);
  letter-spacing: calc(100 / 1000) * myrem(14);
  @include mq(md) {
    font-size: myrem(14);
    position: relative;
    top: myrem(-11);
    left: myrem(15);
    letter-spacing: calc(100 / 1000) * myrem(14);
  }
}

label[for="firstTime"] {
  font-size: myrem(14);
  position: relative;
  top: myrem(-12);
  left: myrem(2);
  letter-spacing: calc(100 / 1000) * myrem(14);
  @include mq(md) {
    font-size: myrem(14);
    position: relative;
    top: myrem(-11);
    left: myrem(12);
    letter-spacing: calc(100 / 1000) * myrem(14);
  }
}

label[for="secondTimes"] {
  font-size: myrem(14);
  position: relative;
  top: myrem(-12);
  left: myrem(-9);
  letter-spacing: calc(100 / 1000) * myrem(14);
  @include mq(md) {
    font-size: myrem(14);
    position: relative;
    top: myrem(-11);
    left: myrem(-3);
    letter-spacing: calc(100 / 1000) * myrem(14);
  }
}

.p-form__items-massage-text {
  font-size: myrem(12);
  letter-spacing: calc(40 / 1000) * myrem(12);
  @include l_height(12, 17);
  margin-top: myrem(12);
  width: myrem(311);
  @include mq(md) {
    width: initial;
    font-size: myrem(14);
    @include l_height(14, 20);
    letter-spacing: calc(100 / 1000) * myrem(14);
    margin-top: myrem(22);
    margin-bottom: myrem(20);
  }
}

.p-form__items-text {
  font-size: myrem(12);
  margin: myrem(15) 0;
  letter-spacing: calc(100 / 1000) * myrem(12);
  @include l_height(12, 17);
  @include mq(md) {
    font-size: myrem(14);
    @include l_height(14, 20);
    letter-spacing: calc(100 / 1000) * myrem(14);
    margin-top: myrem(19);
    margin-bottom: myrem(0);
  }
}

.p-form__checkbox {
  font-size: myrem(12);
  letter-spacing: calc(40 / 1000) * myrem(12);
  position: relative;
  top: myrem(0);
  left: myrem(7);
  @include l_height(12, 17);
  @include mq(md) {
    top: 0;
    left: initial;
    font-size: myrem(14);
    @include l_height(14, 20);
    letter-spacing: calc(100 / 1000) * myrem(14);
    margin-left: myrem(17);
    bottom: myrem(13);
  }
}

.p-form__checkbox::before {
  content: "";
  width: 119px;
  height: 1px;
  display: inline-block;
  background-color: $black;
  position: absolute;
  bottom: -5px;
  @include mq(md) {
    left: myrem(3);
  }
}

.p-form__items-massage-textarea {
  border: none;
  width: 100%;
  opacity: 0.6;
  border-radius: 10px;
  background-color: #edf5f5;
  margin-top: myrem(14);
  padding: myrem(7) myrem(7);
  cursor: pointer;
  @include mq(md) {
    margin-top: 0;
    padding: myrem(14) myrem(14);
    border-radius: 20px;
  }
}

.p-form__items-massage-textarea:focus {
  transition: 0.3s;
  @include mq(md) {
  }
}
