@use "global" as *;

.p-fixed-btn {
  display: block;
  opacity: 0;
  box-shadow: 0px 0px 3px 0px rgba(136, 136, 136, 1);
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
  @include mq(md) {
    display: none;
  }
}

.p-fixed-btn__wrapper {
  display: flex;
  @include mq(md) {
    display: none;
  }
}

.is-show {
  display: block;
  opacity: 1;
  transition: 0.5s;
}
