@use "global" as *;

.p-facility__container {
  margin-top: myrem(40);
  @include mq(md) {
  }
}

.p-facility__list {
  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: myrem(30);
  }
}

.p-facility__title {
  text-align: center;
  @include mq(md) {
    margin-top: myrem(30);
  }
}

.p-facility__sub-title {
  letter-spacing: calc(40 / 1000) * myrem(14);
  @include mq(md) {
    letter-spacing: calc(100 / 1000) * myrem(18);
  }
}

