@use "global" as *;

.p-interior__title {
  text-align: center;
  @include mq(md) {
    text-align: center;
  }
}

.p-interior__maintitle {
  margin-left: myrem(2);
  @include mq(md) {
    margin-left: myrem(20);
  }
}

.p-interior__subtitle {
  margin-left: myrem(2);
  letter-spacing: calc(40 / 1000) * myrem(14);
  margin-top: myrem(5);
  @include mq(md) {
    margin-left: myrem(2);
    margin-top: 0;
    letter-spacing: calc(100 / 1000) * myrem(18);
  }
}

.p-interior__slider {
  margin-top: myrem(26);
  @include mq(md) {
    margin-top: myrem(37);
    display: flex;
    align-items: center;
  }
}

.swiper-slide {
  width: myrem(356) !important;
  margin-left: myrem(5);
  margin-right: myrem(5); /* 左右のスライドを小さくする */
  transition: 0.7s; /* ゆっくり小さくさせる */
}

.swiper-slide img {
  height: auto;
  width: 100%;
}
.swiper-slide-active {
  width: myrem(435) !important; /* 中央のスライドは小さくしない */
  z-index: 1 !important; /* 中央のスライドを一番上にする */
}

.p-interior__arrow {
  display: flex;
  align-items: center;
  position: relative;
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0 0;
    position: relative;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: block;
  width: myrem(40);
  height: myrem(40);
  background: #7bd1d5;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  @include mq(md) {
    display: block;
    width: myrem(50);
    height: myrem(50);
    background: $blue;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
  }
}

.swiper-button-prev {
  top: myrem(-138);
  transform: rotate(180deg);
  @include mq(md) {
    transform: rotate(180deg);
    margin-right: 10px;
    top: initial;
    left: initial;
  }
}

.swiper-button-next {
  right: 0;
  top: myrem(-138);
  @include mq(md) {
    top: initial;
    right: initial;
  }
}

.swiper-button-prev::before {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(-8);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(135deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(-11);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(135deg);
  }
}
.swiper-button-prev::after {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(7);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(45deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(7);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(45deg);
  }
}

.swiper-button-next::before {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(-8);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(135deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(-8);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(135deg);
  }
}

.swiper-button-next::after {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(7);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(45deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(10);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(45deg);
  }
}
