@use "global" as *;

.p-interior__title {
  text-align: center;
  @include mq(md) {
    text-align: center;
  }
}

.p-interior__maintitle {
  margin-left: myrem(2);
  @include mq(md) {
    margin-left: myrem(20);
  }
}

.p-interior__subtitle {
  margin-left: myrem(2);
  letter-spacing: calc(40 / 1000) * myrem(14);
  margin-top: myrem(5);
  @include mq(md) {
    margin-left: myrem(2);
    margin-top: 0;
    letter-spacing: calc(100 / 1000) * myrem(18);
  }
}

.p-interior__slider {
  margin-top: myrem(26);
  @include mq(md) {
    margin-top: myrem(37);
    height: myrem(423);
    display: none;
    align-items: center;
  }
}

.p-interior__slider.slick-initialized {
  @include mq(md) {
    visibility: block;
  }
}

.slick-track {
  @include mq(md) {
    position: relative;
    top: 0;
    left: 0;
    display: flex !important;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-interior__arrow {
  display: flex;
  align-items: center;
  position: relative;
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0 0;
    position: relative;
  }
}

.prev-arrow,
.next-arrow {
  display: block;
  width: myrem(40);
  height: myrem(40);
  background: #7bd1d5;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  @include mq(md) {
    display: block;
    width: myrem(50);
    height: myrem(50);
    background: $blue;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
  }
}

.prev-arrow {
  top: myrem(-138);
  transform: rotate(180deg);
  @include mq(md) {
    transform: rotate(180deg);
    margin-right: 10px;
    top: initial;
    left: initial;
  }
}

.next-arrow {
  right: 0;
  top: myrem(-138);
  @include mq(md) {
    top: initial;
    right: initial;
  }
}

.prev-arrow::before {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(-8);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(135deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(-11);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(135deg);
  }
}
.prev-arrow::after {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(7);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(45deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(7);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(45deg);
  }
}

.next-arrow::before {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(-8);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(135deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(-8);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(135deg);
  }
}

.next-arrow::after {
  position: absolute;
  content: "";
  width: myrem(2);
  height: myrem(12);
  background-color: $white;
  top: myrem(7);
  bottom: 0;
  left: myrem(5);
  right: 0;
  margin: auto myrem(15);
  transform: rotate(45deg);
  border-radius: 50px;
  @include mq(md) {
    position: absolute;
    content: "";
    width: myrem(2);
    height: myrem(14.5);
    top: myrem(10);
    bottom: 0;
    left: myrem(10);
    right: 0;
    margin: auto myrem(15);
    transform: rotate(45deg);
  }
}
