@use "global" as *;

.p-overview__title {
  text-align: center;
  @include mq(md) {
  }
}
.p-overview__title h3 {
  letter-spacing: calc(40 / 1000) * myrem(28);
  @include mq(md) {
    letter-spacing: calc(100 / 1000) * myrem(32);
  }
}

.p-overview__title p {
  letter-spacing: calc(40 / 1000) * myrem(14);
  @include mq(md) {
    letter-spacing: calc(100 / 1000) * myrem(18);
  }
}
