@use "global" as *;

.p-overview__list {
  margin-top: myrem(36);
  border-top: 1px solid rgb(0, 0, 0, 0.31);
  border-bottom: 1px solid rgb(0, 0, 0, 0.31);
  text-align: center;
  font-size: myrem(14);
  @include mq(md) {
    margin-top: myrem(40);
    font-size: myrem(16);
  }
}
