@use "global" as *;

.l-content {
  text-align: center;
  padding-top: myrem(40);
  background-image: url("../images/body-bg.webp");
  background-position: top;
  background-size: 100% myrem(255);
  background-repeat: no-repeat;
  @include mq(md) {
    padding-top: myrem(100);
    background-position: top;
    background-size: 100% myrem(255);
    background-repeat: no-repeat;
    padding-bottom: myrem(106);
  }
}
