@use "global" as *;

.l-facility {
  padding-top: myrem(60);
  padding-bottom: myrem(80);
  @include mq(md) {
    padding-bottom: myrem(70);
    padding-top: myrem(70);
    margin-top: myrem(110);
  }
}
